@model Solid.Models.Customers

<form action="Search/Result" method="get">
  <label>Search Criteria</label>
  <input type="text" />
  <label>Search By</label>
  <select>
    <option>Customer Name</option>
    <option>Contact Name</option>
    <option>Country</option>
  </select>
  <input type="submit" value="Submit"/>
</form>
