@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<html>
<body>
  <table>
    <tr>
      <td>Hi</td>
    </tr>
  </table>
</body>
</html>